<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}
{% load humanize %}
{% load static %}
{% if product %}
<hr class="mt-4 mb-4">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{product.image.url}}" width="70%" alt="{{product.name}}">
        </div>
        <div class="col-md-6">
            <p class="h5 pt-4">{{product.name}}</p>
            <span>Mã sản phẩm: {{product.code}}</span>
            <span>|</span>
            <span>Thương hiệu: {{product.brand}}</span>
            <div>
                <p class="h5 pt-4 text-danger">Giá: {{product.fee|intcomma}} vnđ</p>
            </div>
            <div>
                <ul>
                    <li class="p-2">Tình trạng: {{product.state}}</li>
                    <li class="p-2">Giới tính: {{product.sex}}</li>
                    <li class="p-2">Xuất xứ: {{product.country}}</li>
                    <li class="p-2">Loại đồng hồ: {{product.category}}</li>
                    <li class="p-2">Loại dây: {{product.chain}}</li>
                </ul>
                <div>
                    <form action="{% url 'cart:cart_add' product.pk%}" method="post">
                        {{cart_product_form}}
                        {% csrf_token %}
                        <div class="card-footer">
                            <input type="submit" value="Thêm vào giỏ hàng" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <hr class="my-4">

            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active font-weight-bold" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">Thông số kỹ thuật</a>
                    <a class="nav-link font-weight-bold" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Hướng dẫn sử dụng</a>
                    <a class="nav-link font-weight-bold" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                        aria-controls="nav-contact" aria-selected="false">Bảo hành</a>
                </div>
            </nav>


            <div class="tab-content" style="background-color: rgb(252, 246, 246);" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th colspan="2">Thông tin sản phẩm</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Thương Hiệu: </td>
                                        <td>{{product.brand}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mã sản phẩm: </td>
                                        <td>{{product.code}}</td>
                                    </tr>
                                    <tr>
                                        <td>Giới tính: </td>
                                        <td>{{product.sex}}</td>
                                    </tr>
                                    <tr>
                                        <td>Loại đồng hồ: </td>
                                        <td>{{product.category}}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th colspan="2">Vỏ và dây</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Vỏ: </td>
                                        <td>{{product.chain}}</td>
                                    </tr>
                                    <tr>
                                        <td>Loại dây: </td>
                                        <td>{{product.chain}}</td>
                                    </tr>
                                    <tr>
                                        <td>Đường kính: </td>
                                        <td>29 mm</td>
                                    </tr>
                                    <tr>
                                        <td>Độ dày: </td>
                                        <td>6.5 mm</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th colspan="2">Thông tin sản phẩm</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Độ chịu nước: </td>
                                        <td>5 ATM</td>
                                    </tr>
                                    <tr>
                                        <td>Lịch: </td>
                                        <td>Ngày</td>
                                    </tr>
                                    <tr>
                                        <td>Chức năng: </td>
                                        <td>Giờ, phút, giây</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th colspan="2">Thông tin bổ sung</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Loại máy: </td>
                                        <td>Quarts</td>
                                    </tr>
                                    <tr>
                                        <td>Màu máy: </td>
                                        <td>Trắng ngà</td>
                                    </tr>
                                    <tr>
                                        <td>Mặt kính: </td>
                                        <td>Sapphire</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="pl-4 pr-4">
                        <p class="pt-2"><strong>I. Hướng dẫn sử dụng và bảo hành</strong></p>
                        <div class="pl-4">
                            <p>Trong quá trình sử dụng, nếu phát hiện bất kỳ hiện tượng không bình thường, Quý khách cần
                                liên hệ hoặc mang đồng hồ đến ngay các Trung tâm kỹ thuật và bảo hành của Công ty để
                                được tư
                                vấn và kiểm tra.</p>
                            <p>Phạm vi bảo hành đồng hồ bao gồm các lỗi kỹ thuật về máy ( như đồng hồ không chạy, chạy
                                không
                                chính xác), độ chịu nước và pin đồng hồ). Các trường hợp không bảo hành đồng hồ gồm các
                                lỗi
                                về vỏ và dây của đồng hồ; các lỗi rơi vỡ, va đập làm xước kính trong quá trình khách
                                hàng sử
                                dụng gây nên; dây da gặp vấn đề; không bảo hành cho trường hợp điều chỉnh, sử dụng không
                                đúng cách của người dùng; không bảo hành cho đồng hồ đã sửa chữa tại những nơi không
                                phải là
                                trung tâm bảo hành của công ty.</p>
                        </div>

                        <p><strong>1. Mức độ chịu nước của đồng hồ</strong></p>
                        <div class="pl-4">
                            <p>Đề nghị quý khách xem kỹ ký hiệu về mức độ chịu nước của đồng hồ được in trên mặt số hoặc
                                ở
                                dưới đáy đồng hồ.</p>
                            <p>Ký hiệu Water Resistance 30, 30M, 3 ATM: mức độ chịu nước trung bình, quý khách có thể
                                rửa
                                tay với nước ở nhiệt độ thường.</p>
                            <p>Ký hiệu Water Resistance 50, 50M, 5 ATM: quý khách có thể rửa tay, đi mưa (tránh đeo đồng
                                hồ
                                khi mưa to)</p>
                            <p>Ký hiệu Water Resistance 100, 100M, 10 ATM: quý khách có thể rửa tay, đi mưa, đi tắm
                                (nước
                                thường, ở nhiệt tình thường)</p>
                            <p>Ký hiệu Water Resistance 200, 200M, 20 ATM: quý khách có thể rửa tay, đi mưa, đi tắm, đi
                                bơi
                                (không nên đeo đồng hồ khi lặn)</p>
                            <p>Chú ý: khi Quý khách ở dưới nước hay đồng hồ còn ướt thì không được sử dụng các nút ấn
                                hoặc
                                chỉnh giờ. Nếu Quý khách sử dụng đồng hồ đi tắm biển (đối với đồng hồ chịu áp lực từ
                                20ATM
                                trở lên), sau khi tắm xong, Quý khách vui lòng rửa sạch bằng nước thường và lau khô đồng
                                hồ.
                            </p>
                            <p>Trước khi sử dụng đồng hồ trong môi trường ẩm, phải kiểm tra vỏ, kính có bình thường
                                không,
                                núm đồng hồ đã đóng chặt chưa.</p>
                            <p>Tuyệt đối không đeo đồng hồ khi dùng nước nóng, tắm nóng lạnh, xông hơi vì nhiệt độ thay
                                đổi
                                đột ngột, độ co giãn của vỏ và gioăng khác nhau tạo nên khe hở để nước và hơi ẩm lọt vào
                                làm
                                bẩn máy, giảm khả năng chống nước và dễ hỏng máy.</p>
                        </div>

                        <p><strong>2. Ảnh hưởng của nhiệt độ:</strong></p>
                        <div class="pl-4">
                            <p>Không để đồng hồ trực tiếp dưới ánh sáng mặt trời hoặc ở nơi có nhiệt độ cao trong thời
                                gian
                                dài vì có thể ảnh hưởng đến bộ máy đồng hồ, rút ngắn thời gian hoạt động của pin và ảnh
                                hưởng đến chi tiết khác.</p>
                            <p>Không nên để luông khí lạnh của các loại máy điều hòa thổi trực tiếp vào đồng hồ một cách
                                thường xuyên, liên tục.</p>
                        </div>
                        <p><strong>3. Ảnh hưởng của từ trường:</strong></p>
                        <div class="pl-4">
                            <p>Tránh để đồng hồ gần các vật dụng có từ trường mạnh như : tivi, tủ lạnh, lò vi sóng, máy
                                vi
                                tính, dàn âm thanh.</p>
                        </div>
                        <p><strong>4. Ảnh hưởng của hóa chất và khí gas</strong></p>
                        <div class="pl-4">
                            <p>Đồng hồ nên tránh tiếp xúc với khí gas, hóa chất như xà phòng, axit, dung môi, thủy ngân
                                hay
                                thuốc tẩy…. vì có thể làm vỏ và dây đồng hồ biến màu, mục dây da hoặc làm hỏng bộ gioăng
                                chống nước của đồng hồ.</p>
                        </div>

                        <p><strong>5. Chú ý khi chỉnh giờ</strong></p>
                        <div class="pl-4">
                            <p>Tuyệt đối không chỉnh giờ ngược chiều kim đồng hồ vì sẽ làm hỏng bộ cơ của đồng hồ.</p>

                            <p>Về cơ bản, tránh chỉnh lịch đồng hồ trong khoảng thời gian từ 9h tối đến 9h sáng hàng
                                ngày,
                                nếu điều chỉnh trong khoảng thời gian này thì sẽ gây hư hại ngoài ý muốn cho hệ thống
                                bánh
                                xe truyền lịch của đồng hồ.</p>
                            <p>Sau khi chỉnh giờ và lịch, Quý khách phải đóng chặt núm đồng hồ để tránh tình trạng nước
                                vào.
                            </p>
                            <p>Đối với đồng hồ automatic nên đeo liên tục tối thiểu trong 8 giờ hàng ngày với mức vận
                                động
                                bình thường thì đồng hồ được lên đủ cót và chạy được khoảng 40 giờ sau khi không đeo.
                                Tuy
                                nhiên, tùy theo từng trường hợp cụ thể thì cần có điều chỉnh cụ thể.</p>
                        </div>



                        <p><strong>II. Hướng dẫn tự kiểm tra và bảo dưỡng đồng hồ</strong></p>
                        <div class="pl-4">
                            <p>Nên kiểm tra định kỳ:</p>
                            <p>Đối với đồng hồ của bất cứ thương hiệu nào, cứ 2-3 năm, hoặc khi thay pin, bạn nên mang
                                đến
                                các trung tâm chăm sóc khách hàng chính hãng để kiểm tra chiếc đồng hồ xem bộ phận nào
                                bị
                                mòn cần phải được thay thế, kiểm tra xem đồng hồ cần tra dầu hay không, đánh bóng hoặc
                                làm
                                sạch mồ hôi, nước, bụi bẩn, v.v ..</p>
                            <p>Đối với dây da</p>
                            <p>Dây da nên được nới lỏng hơn trong mùa hè vì dây sẽ hấp thu mồ hôi nhiều hơn. Dây đeo
                                chặt
                                không những ngăn chặn không khí lưu thông qua mặt dưới dây da mà còn gây ra triệu chứng
                                phát
                                ban mồ hôi trên cổ tay. Nếu dây da bị ẩm ướt do mồ hôi, lau khô với vải mềm loại thấm
                                nước.
                                Tránh để đồng hồ trong ánh nắng trực tiếp. Màu sắc dây da có thể bị phai màu.</p>
                            <p>Làm sạch vỏ/ mặt kính</p>
                            <p>Khi bạn muốn tự làm sạch vỏ đồng hồ của mình, dùng vải mềm và hơi ẩm. Không sử dụng bất
                                kỳ
                                chất dung môi, tẩy rửa, hoặc xà phòng vì sẽ làm hư hại đồng hồ.</p>
                            <p> Khi bạn không đeo đồng hồ</p>
                            <p>Hãy để đồng hồ ở một nơi thông thoáng. Không được để đồng hồ trong hộp kín khi đồng hồ
                                vẫn
                                còn ẩm ướt mồ hôi.</p>
                            <p>Va chạm</p>
                            <p>Đồng hồ của bạn là một dụng cụ đo lường chính xác. Đối xử với nó một cách cẩn thận, và nó
                                sẽ
                                phục vụ cho bạn tốt. Tránh những cú va chạm quá mức (chẳng hạn như rơi trên bề mặt cứng)
                            </p>
                            <p> Mồ hôi</p>
                            <p>Bạn nên cố gắng bảo vệ đồng hồ tránh mồ hôi nặng. Hãy nhớ lau khô đồng hồ cành nhanh càng
                                tốt.</p>
                            <p>Nhiệt độ</p>
                            <p>Nếu đồng hồ của bạn được cất giữ ở nhiệt độ bên ngoài nhiệt độ bình thường (thấp khoảng
                                5°C
                                hoặc cao hơn 50°C) các thành phần điện tử có thể ngừng hoạt động.</p>
                            <p>Hóa chất</p>
                            <p>Các chất hóa học, khí đốt, thủy ngân, v.v.,sẽ làm thay đổi màu vỏ, dây kim loại, dây da.
                                Thủy
                                ngân(ví dụ, từ một nhiệt kế bị hỏng) sẽ làm lớp mạ vàng biến thành màu xám khó coi.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="pl-4">
                        <p class="pt-2" style='color:#333;font-weight: 700;'>Bảo hành quốc tế</p>
                        <div class="pl-4">
                            <p>2 năm</p>
                        </div>
                        <p><strong>Thời gian nhận và trả bảo hành</strong></p>
                        <div class="pl-4">
                            <p>Trong giờ hành chính: Từ 08h30 đến 17h00</p>
                            <p>Các ngày trong tuần trừ Ngày lễ và chủ nhật.</p>
                        </div>
                        <p><strong>Trường hợp được bảo hành </strong></p>
                        <div class="pl-4">
                            <p>- Các sản phẩm có thời gian bảo hành từ 1- 2 năm. Tùy theo từng dòng sản phẩm.</p>
                            <p>- Sản phẩm trong thời hạn bảo hành. </p>
                            <p>- Lỗi về máy, pin và độ chịu nước </p>
                            <p>- Sản phẩm được bảo hành theo quy định của nhà cung cấp. </p>
                            <p>- Quý khách xuất trình phiếu bảo hành khi đi bảo hành. </p>
                        </div>
                        <p><strong>Trường hợp không được bảo hành </strong></p>
                        <div class="pl-4">
                            <p>- Quá thời gian bảo hành ghi trên sổ hoặc thẻ bảo hành. </p>
                            <p>- Sổ bảo hành, thẻ bảo hành bị rách, bị dán đè, bị sửa đổi hoặc không xác định được. </p>
                            <p>- Các sản phẩm tự ý sửa chữa, biến dạng do rơi vỡ, va đập, dùng sai quy định, hư hỏng do
                                thiên
                                tai, động đất,...gây ra. </p>
                            <p>- Hỏng bên ngoài như vỏ, dây, kính, lỗi do người sử dụng,... </p>
                        </div>
                        <p><strong>Lưu ý: </strong></p>
                        <div class="pl-4">
                            <p>- Khách hàng chịu trách nhiệm cho chi phí vận chuyển đến trung tâm bảo hành. </p>
                            <p>- Hết thời hạn bảo hành, chi phí sửa chữa sẽ được trung tâm bảo hành hỗ trợ với giá ưu
                                đãi
                                nhất.
                            </p>
                        </div>
                        <p><strong>Chính sách đổi mới sản phẩm:</strong></p>
                        <div class="pl-4">
                            <p>Nhằm đảm bảo quyền lợi người tiêu dùng, nâng cao chất lượng dịch vụ sau bán hàng, cửa
                                hàng
                                đổi
                                sản phẩm mới cùng loại nếu sản phẩm bị lỗi kỹ thuật do nhà sản xuất. Sản phẩm chỉ được
                                đổi
                                khi
                                đáp ứng đầy đủ các điều kiện sau dưới đây:</p>
                            <p>- Sản phẩm mới mua trong vòng 02 ngày kể từ ngày xuất bán. Khách hàng mua trực tuyến,
                                thời
                                gian
                                được tính từ ngày khách nhận được sản phẩm.</p>
                            <p> - Sản phẩm không bị cũ, xước, biến dạng và thỏa mãn các điều kiện bảo hành.</p>

                            <p>- Sản phẩm nhận lại phải còn nguyên vẹn vỏ thùng, xốp và đầy đủ các phụ kiện kèm theo,
                                quà
                                khuyến
                                mãi (nếu có)…</p>
                        </div>
                        <p><strong>Trường hợp không chấp nhận đổi hoặc trả sản phẩm:</strong></p>
                        <div class="pl-4">
                            <p>- Quý khách muốn thay đổi chủng loại, mẫu mã sản phẩm.</p>
                            <p>- Lỗi do người sử dụng.</p>
                            <p>- Không chấp nhận các lỗi ngoại quan (xước, móp, méo, vỡ, sứt, ...) khi khách hàng đã
                                mang
                                sản
                                phẩm ra khỏi cửa hàng Công ty.</p>
                        </div>
                        <p><strong>Chú ý:</strong></p>
                        <div class="pl-4">
                            <p>Khách hàng xem kỹ sản phẩm trước khi mua, sản phẩm đã bán ra không
                                nhập lại. Không có trường hợp ngoại lệ. Để đảm bảo cho mọi khách hàng luôn mua được sản
                                phẩm mới.</p>
                        </div>
                        <p><strong>Địa chỉ:</strong></p>
                        <div class="pl-4">
                            <p>KIA Watch – 137 Nguyễn Chí Thanh, Quận 5, HCM | Tel: 1800 6785</p>
                            <p>KIA Watch – 136 Nguyễn Văn Cừ, Quận 5, HCM | Tel:1800 6785</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif%}
{% endblock %}